<nav id="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a href="./"
        ><img src="./assets/logo/Brand-logo-01.png" alt="Molino32-Logo"
      /></a>
    </div>

    <button class="navbar-toggle" aria-label="Abrir menú" aria-expanded="false">
      <i class="bx bx-menu"></i>
    </button>

    <ul class="navbar-menu">
      <li><a href="./index.html" class="">Inicio</a></li>
      <li><a href="./courses.html">Cursos</a></li>
      <li><a href="./about.html">Sobre Mi</a></li>
    </ul>

    <div class="navbar-icons">
      <div class="navbar-search-container">
        <i class="bx bx-search"></i>
        <input
          type="text"
          class="navbar-search"
          placeholder="Buscar cursos..."
        />
      </div>
      <div>
        <a href="./cart.html"><i class="bx bx-cart"></i></a>
      </div>
      <div>
        <a href="./account.html"><i class="bx bx-user"></i></a>
      </div>
    </div>
  </div>
</nav>
