#navbar {
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 50;
  border-width: 2px;
  border-color: #ffffff80;
  background-color: #fff6;
  backdrop-filter: blur(12px);
}

/* NAVBAR CONTAINER */
.navbar-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5% 1rem 5%;
  max-height: 6vh;
  max-width: 100%;
}

/* LOGO CONTAINER */
.navbar-logo {
  max-height: 100%;
  max-width: 10%;
  padding-top: 0.5%;
  padding-right: 12em;
}
.navbar-logo img {
  width: 100%;
  height: 100%;
}

/* SECTIONS CONTAINER */
.navbar-menu {
  display: flex;
  gap: 50px;
  list-style: none;
  padding-left: 0;
}
.navbar-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 110%;
  transition: color 0.2s, border-bottom 0.2s;
}
.navbar-menu li a.active,
.navbar-menu li a:hover {
  color: #b28564;
  transition: color 0.2s;
}

/* SEARCH CONTAINER */
.navbar-search-container {
  display: flex;
  gap: 0.5rem;
  padding-right: 3rem;
  padding-left: 0.6rem;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 100px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.navbar-search-container i {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  padding-top: 7px;
}
.navbar-search::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}
.navbar-search {
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  color: #333;
  padding: 6px 0;
  width: 160px;
}

/* ICONS CONTAINER */
.navbar-icons {
  display: flex;
  gap: 2rem;
}
.navbar-icons a.active,
.navbar-icons a.active i {
  color: #b28564;
  transition: color 0.2s;
}
.bx-cart,
.bx-user {
  color: #333;
  padding-top: 0.4rem;
  font-size: 24px;
  transition: color 0.2s;
}
.bx-cart:hover,
.bx-user:hover {
  color: #b28564;
  transition: color 0.2s;
}
